.header-container{
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}
.header-container .logo img{
    width: 150px;
}
.header-container a svg{
    width: 20px;
    height: 20px;
    color: #181818;
}
.header-container a{
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    padding: 0 15px;
    color: #181818;
}
.header-container a:hover, .header-container svg:hover{
    color: #e40b36da;
}
.header-container .sign-up{
    background-color: #F91944;
    border-radius: 30px;
    padding: 5px 20px;
    color: #fff;
}
.header-container .sign-up:hover{
    background-color: #e40b36da;
    color: #fff;
}